<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>

        <h1>Upload your Excel file!</h1>

        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
             <p>
                {{ form.upload }}
            </p>
            <p>
                <input type="submit" value="Submit">
            </p>
        </form>
        <div>
            {{ tbl|safe }}
        </div>
        
    </body>
</html>